h1{
    text-align: center;
    color: darkblue;
    font-family: Arial, sans-serif;
    margin-top: 20px;

}
h2{
    color: rgb(234, 172, 248);
    font-family: Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    margin-left: 20px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

}

header{
    background-color: #3ba6ca;
    color: white;
    padding: 10px 0;
    text-align: center;
}  

main{
    padding: 20px;
}

form{
    max-width: 400px;
    margin: auto;
    background: rgb(244, 166, 166);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: background-color: #45a049;
}

input[type="submit"]:hover{
    background-color: #45a049;
}

